.mypage__sub__content
  %form.mypage__sub__content-form
    %button.mypage__sub__content-form-btn 
      = link_to "ログアウト",destroy_user_session_path, method: :delete, class:"btn"
    %button.mypage__sub__content-form-btn
      = link_to "アカウント削除", user_registration_path, method: :delete, class: "btn"
