.mypage-content
  %a.user_box
    %figure
      -# - if @user.user_image?
        -# = image_tag @user.user_image.url 
      -# - else 
        -# = image_tag 'member_photo_noimage_thumb.png'
      %h2.user_box__name
        = @user.nickname
    .user_box__info
      %h2.user_box__info__evalution
        評価
        %span#count
        2
      %h2.user_box__info__transactions
        出品
        %span#count
        2
  .tabs
    %input#all{checked: 'checked', name: 'tab_item', type: 'radio'}/
    %label.tab_item{for: 'all'} お知らせ
    %input#doing{name: 'tab_item', type: 'radio'}/
    %label.tab_item{for: "doing"} やることリスト
    %ul#all_content.tab_content
      %li
        %a.mypage-item__list-link{href: "#"}
          %figure
            -# = image_tag 'hako1.png'
          .mypage-item__body
            .mypage-item__text 事務局からのメッセージ
          %time
            %i.icon-time
            %span 6時間前
      %li.mypage-content__item-index
        %a{href: "#"} 一覧を見る
    %ul#doing_content.tab_content
      %li
        %a.mypage-item__list-link{href: "#"}
          %figure
            -# = image_tag 'hako1.png'
          .mypage-item__body
            .mypage-item__text 現在やることはありません
            %time
              %i.icon-time
              %span 15時間前
          %i.icon-arrow-right
      %li.mypage-content__item-index
        %a{href: "#"} 一覧を見る