// 投稿編集画面用
.child-edit {
  display: none;
  position: relative;
  .fa-angle-down {
    position: absolute;
    right: 16px;
    top: 40%;
    z-index: 10;
    color: #888;
    font-size: 25px;
    transform: translate(0, -50%);
    float: right;
  }
}

.grand_child-edit {
  position: relative;
  display: none;
  .fa-angle-down {
    position: absolute;
    right: 16px;
    top: 40%;
    z-index: 10;
    color: #888;
    font-size: 25px;
    transform: translate(0, -50%);
    float: right;
  }
}
