@media screen and (min-width: 768px) {
  .item {
    &--detail {
      &__message {
        margin: 8px auto;
        width: 700px;
        border: 1px solid $gray;
        // padding-left: 15px;
        // padding-right: 15px;
      }
    }
    &--social {
      &--media {
        &__box {
          width: 700px;
          margin: 24px auto;
          background-color: $white;
          padding-top: 32px;
          padding-bottom: 24px;
          border: 1px solid $gray;
        }
      }
    }
  }
}

@media screen and (min-width: 1068px) {
  .social {
    &--media {
      &__box {
        li.social--hidden__item {
          display: none;
        }
      }
    }
  }
}

.message {
  &__content {
    padding: 24px;
    background-color: $white;
  }
  &__form {
    p {
      padding: 8px;
      font-size: 14px;
      background-color: #fff6de;
    }
    .textarea--default {
      max-width: 100%;
      width: 100%;
      margin-top: 8px;
      min-height: 104px;
    }
  }
  &__submit {
    width: 100%;
    margin-top: 8px;
    font-size: 0;
    text-align: center;
    span {
      font-size: 14px;
      vertical-align: middle;
    }
  }
}

.nav {
  &__item {
    &--link {
      &--prev {
        float: left;
        .fa-arrow-left {
          left: 0;
        }
        &--next {
          @include clearfix();
          width: 700px;
          margin: 0 auto;
          li {
            position: relative;
            width: 43%;
            word-wrap: break-word;
          }
          .fa-arrow-left {
            position: absolute;
            top: 50%;
            transform: translate(0 -50%);
          }
          .fa-arrow-right {
            position: absolute;
            top: 50%;
            transform: translate(0 -50%);
          }
        }
      }
      &--next {
        float: right;
        text-align: right;
        .fa-arrow-right {
          right: 0;
        }
      }
    }
  }
}

.social {
  &--media {
    &__box {
      margin-top: 16px;
      text-align: center;
      font-size: 0;
      li {
        display: inline-block;
        margin-right: 8px;
        margin-bottom: 8px;
        vertical-align: middle;
        text-align: center;
        a {
          display: block;
        }
      }
      i {
        width: 44px;
        height: 44px;
        border-radius: 4px;
        line-height: 44px;
      }
    }
  }
}

.fa-facebook {
  color: $white;
  background-color: #385185;
  font-size: 18px;
}

.fa-twitter {
  color: $white;
  background-color: #5d9dc9;
  font-size: 16px;
}

.fa-line {
  color: $white;
  background-color: #00c137;
  font-size: 22px;
}

.fa-pinterest {
  color: $white;
  background-color: #aa262a;
  font-size: 18px;
}

.btn-none{
  pointer-events : none;
  background-color: gray;
  color: #fff;
}
