
main {
  display: block;
}

.products-done__body {
  background-color:#eae8e8;
}

.single-main {
  background-color: #eee;
}

.l-single-container {
  width: 700px;
  margin: 0 auto;
  background-color: $white;
  border: 1px solid $gray;
}

.l-single-head {
  padding: 24px 8px;
  font-size: 22px;
  line-height: 1.5;
  text-align: center;
  font-weight: bold;
}

form {
  display: block;
}

.new_item {
  border: 1px solid $gray;
}

.sell-upload-box {
  width: 100%;
  padding: 40px;
  border: 1px solid $gray;
}

.sell-upload-head {
  font-size: 16px;
}

.form-require {
  background-color: #3CCACE;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: $white;
  font-size: 12px;
  vertical-align: top;
}

.form-require-sub{
  background-color: #999999;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: $white;
  font-size: 12px;
  vertical-align: top;
}

.icon_camera{
  margin-top: 50px; 
  width: 20px;
  height: 20px;
}

.sell-upload-head+p {
  margin: 8px 0 0;
  line-height: 1.5;
}

.sell-dropbox-container {
  display: -webkit-box;
  display: flex;
  margin: 16px auto o;
}

#image-box {
  // display: block;
  // border: 1px dashed #ccc;
  // position: relative;
  // background: #f5f5f5;
  // width: 100%;
  // height: 162px;
  // cursor: pointer;
}

#previews{
  img {
    width: 100px;
    height: 100px;
  }
}


.sell-dropbox-container{
  display: block;
  width: 620px;
  height: 162px;
  margin: 16px 0px 0px 0px;
  display: inline;
  .sell-upload-items {
    &.have-item-0 {
      width: 0;
      height: 0;
    }
    &.have-item-1 {
      width: 20%;
      height: 100%;
    }
    &.have-item-2 {
      width: 40%;
      height: 100%;
    }
    &.have-item-3 {
      width: 60%;
      height: 100%;
    }
    &.have-item-4 {
      width: 80%;
      height: 100%;
    }
    &.have-item-5 {
      width: 100%;
      height: 100%;
    }
    &-container {
      display: inline;
    }
  }

  .sell-upload-drop-box {
    &.have-item-0 {
      width: 100%;
      height: 100%;
      display: block;
    }
    &.have-item-1 {
      width: 80%;
      height: 100%;
    }
    &.have-item-2 {
      width: 60%;
      height: 100%;
    }
    &.have-item-3 {
      width: 40%;
      height: 100%;
    }
    &.have-item-4 {
      width: 20%;
      height: 100%;
    }
    &.have-item-5 {
      width: 0;
      height: 0;
    }
    position: relative;
    background-color: #f5f5f5;
    border: 1px dashed $light_gray;
    font-size: 0;
    text-align: center;
    transition: box-shadow ease-out .3s, -webkit-box-shadow ease-out .3s;
    cursor: pointer;
    float: right;
    display: none;

  }
}


.js-file {  //sell-upload-drop-file
  width: 100%;
  height: 100%;
}

pre {
  position: absolute;
  top: 50%;
  left: 16px;
  right: 16px;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  transform: translate(0, -50%);
  pointer-events: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  border: none;
}


#previews {
  .sell-upload-item {
    width: 105px;
    height: 100%;
    -webkit-box-flex: 1;
    flex: 1;
    float: left;
    margin-right: 10px;
    border: 1px solid #eee;
    background-color: #eee;
    &:last-child {
      margin: 0;
    }
    .sell-upload-figure {
      width: auto;
      height: 116px;
      padding: 0;
      &.portrait {
        text-align: center;
        img {
          width: 100%;
          height: 115px;
          position: static;
          top: 0;
          left: 50%;
          transform: none;
        }
      }
    }
    .sell-upload-button {
      font-size: 14px;
      a {
        display: inline-block;
        width: 50%;
        background-color: #f5f5f5;
        line-height: 48px;
        text-align: center;
        float: left;

      }
    }
  }
}


@media screen and (min-width: 768px) {
  .sell-upload-items {
    float: left;
  }
}

.sell-upload-drop-box {
  -webkit-box-flex: 1;
  flex: 1;
  .icon-camera {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
  }
}

input {
  border: 0;
  outline: 0;
  font-family: inherit;
  -webkit-appearance: none;
}

pre {
  overflow: auto;
}

i[class^='icon-'], i[class*='icon-'] {
  display: inline-block;
  font-family: 'icon-font';
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.image-box {
  display: flex;
  flex-direction: column;
  width: 560px;
  align-items: center;
  margin: 0 auto;
}

.input-image{
  // width: 300px;
  // height: 300px;
  // input{
  //   display: none;
  // }
}

.sell-content {
  padding: 40px;
  border-top: 1px solid $gray;
}

.form-group:first-child {
  margin: 0;
}

.form-group {
  label {
  font-weight: 600;
  }
  .input-default {
    width: 100%;
    margin: 8px 0 0;
  }

  .select-wrap {
    margin: 8px 0 0;
  }

  select {
    width: 100%;
  }
}

.input-default {
  height: 48px;
  border-radius: 4px;
  border: 1px solid $light_gray;
  background-color: $white;
  line-height: 1.5;
  font-size: 16px;
}

.form-group label+.textarea-default {
  margin: 8px 0 0;
}

.textarea-default {
  display: block;
  width: 100%;
  max-width: 100%;
  min-height: 104px;
  padding: 10px;
  border: 1px solid $light_gray;
  background-color: $white;
  font-size: 16px;
  line-height: 1.5;
}

.sell-content {
  @include clearfix();
  padding: 40px;
  border-top: 1px solid $gray;
}

.sell-sub-head {
  color: #888;
  font-size: 14px;
  float: left;
}

.sell-form-box {
  float: right;
  width: 400px;
  margin: 0;
}

.select-wrap {
  position: relative;
  background-color: $white;
  .icon-arrow-bottom {
    position: absolute;
    right: 16px;
    top: 50%;
    z-index: 2;
    color: #888;
    font-size: 8px;
    transform: translate(0 -50%);
  }
}

.select-default {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid $light_gray;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

.form-question {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #0099e8;
  color: $white;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
}

.sell-price>li:first-child {
  padding: 0 0 24px;
  border: 0;
}

.form_group:first-child {
  margin: 0;
}

.sell-price {
  width: 100%;
  .form-group {
    @include clearfix();
    .l-left {
    width: 50%;
    line-height: 48px;
    }
    .l-right {
      width: 50%;
    }
  }
}

.sell-price-input {
  text-align: right;
  .input-default {
    margin: 0;
    text-align: right;
  }
}

.l-left {
  float: left;
}

.l-right {
  float: right;
}

.sell-price>li {
  padding: 24px 0;
  border-top: 1px solid $light_gray;
}

.bold {
  font-weight: 600;
}

.sell-price {
  @include clearfix();
  .bold {
    .l-left {
      font-size: 16px;
    }
    .l-right {
      font-size: 34px;
    }
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3000;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all ease-out .3s;
  opacity: 0;
  transform: translate(0, -10px);
}

.modal-inner {
  max-width: none;
  width: 600px;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
}

.sell-btn-box  {
  p {
    line-height: 1.5;
  }
  .btn-red {
    margin: 40px 0 0;
  }
  .btn-gray {
    width: 45%;
    margin: 24px auto 0;
  }
}

.btn-red {
  background-color: #3CCACE;
  border: 1px solid #3CCACE;
  color: $white;
}

.btn-gray {
  background-color: #aaa;
  border: 1px solid #aaa;
  color: $white;
}

.btn-default {
  display: block;
  line-height: 48px;
  font-size: 14px;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
  width: 100%;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2999;
  background-color: rgba(0,0,0,0.64);
  transition: all ease-out .3s;
  opacity: 0;
}