.single-container {
  padding: 40px 0;
  background-color: #eee;
}
.single-header {
  text-align: center;
  h1 {
    display: inline-block;
    margin: 11px 0 12px;
  }
  a {
    display: inline-block;
    width: 185px;
    height: 49px;
    margin: 0 8px 0 0;
    line-height: 49px;
  }
  img {
    width: 185px;
    height: 49px;
  }
}