@media screen and (min-width: 768px) {
  .items {
    &--in {
      &--user {
        &__profile {
          width: 700px;
          margin: 0 auto;
          border: 1px solid $gray;
        }
      }
    }
    &--box {
      &__head {
        margin-top: 24px;
        margin-bottom: 8px;
      }
      &__content {
        padding: 0;
      }
    }
  }
}

.items {
  &--box {
    border: 1px solid $gray;
    &__overflow {
      overflow: hidden;
      @include clearfix();
      &__content {
        width: auto;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        font-size: 0;
        a {
          color: #000;
        }
      }
    }
    &__content {
      @include clearfix();
      margin: 0 auto;
      a {
        color: #000;
      }
    }
    &__head {
      font-size: 22px;
      line-height: 1.4;
      margin-left: 20px;
    }
  }
}

.app-banner-pc {
  overflow: hidden;
  position: relative;
  width: 700px;
  height: 260px;
  margin: 0 auto;
  color: $white;

}
