.like-content {
  width: calc(100% - 280px);
  // background-color: red;
  h2 {
    font-size: 24px;
    padding: 8px 24px;
    border-bottom: 1px solid #f5f5f5;
    text-align: center;
    background-color: #fff;
    font-weight: bold;
  }
  ul {
    li {
      border-bottom: 1px solid #eee;
      position: relative;
      .mypage-item-link {
        display: block;
        height: 80px;
        color: #333;
        text-decoration: none;
        background-color: #fff;
        padding: 16px;
        img {
          float: left;
          width: 48px;
          height: 48px;
        }
        .mypage-item-body {
          margin: 0 40px 0 68px;
          .mypage-item-name {
            font-size: 14px;
            margin-bottom: 8px;
          }
          .mypage-item-price {
            font-size: 14px;
          }
          i {
            position: absolute;
            top: 40%;
            right: 16px;
          }
        }
      }
    }
  }
}

// soldout
.item-sold-like{
  width: 0;
  height: 0;
  border-top: 25px solid #ea352d ;
  border-right: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 25px solid #ea352d ;
  z-index: 10;
  position: absolute;
  top:-44px;
  margin-top: 44px;
  &__inner{
    transform: rotate(-45deg);
    font-size: 1px;
    margin:-10px 0px 0px -22px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
  }
}