// < ログアウト 確認ページ >
.mypage__sub__content{
  height:300px;
  width:100%;
  padding:50px 60px;
  background-color:white;
  .mypage__sub__content-form{
    height:100%;
    width:100%;
    .mypage__sub__content-form-btn{
      height:100px;
      width:100%;
      margin-top: 10px;
      background: #ea352d;
      border: 1px solid #ea352d;
      a{
      color: #fff;
      display: block;
      width: 100%;
      line-height: 48px;
      font-size: 14px;
      border: 1px solid transparent;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      }
    }
  }
}
// < 退会完了画面 >
.delete-accont{
  font-size: 20px;
  padding-top: 140px;
  text-align: center;
  font-weight: bold;

}
.new-account{
  text-align: center;
  padding-bottom: 20px;
  padding-top: 150px;
  .btn{
    text-decoration: none;
    color: rgb(95, 230, 232);
  }
}